@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    box-shadow: 0 0 3px 3px #1a1a1a;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto, minmax(240px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "nav"
    "img-1"
    "noticias"
    "img-2"
    "newsletter"
    "pie";
    gap: 1.5rem;
    grid-auto-flow: dense;
}

a img{
    max-height: 3.3rem;
    margin-top: .5rem;
}

.botonera{
    background-color: #fff;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 1px;
    z-index: 10;
    box-shadow: 0 0 3px 3px #1a1a1a;
}

ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
li{
    display: inline-block;
    padding: 0.1875rem;
    
}

li>a{
    text-decoration: none;
    list-style-type: none;
    color: #1a1a1a;
    font-weight: 700;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

li>a:hover{
    background-size: 100% 2px;
}



.img-h{
    grid-area: img-1;
}

img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticias__contenedor{
    grid-area: noticias;
}

.noticias__caja{
    display: flex;
    flex-direction: column;
}


.noticias__titulo{
    text-align: center;
}

figure{
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    position: relative;
    max-width: 512px;
    margin: 0.625rem auto;
}

figure::before{
        content: "";
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 50%;
        border-bottom: 1px solid rgb(224, 224, 224);
    }


.carta-noticia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.img-2{
    grid-area: img-2;
    background-color: blanchedalmond;

}

.form{
grid-area: newsletter;
}


fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
}

.footer{
    grid-area: pie;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
}

.a-rrss{
    max-height: 50px;
    text-align: center;
}

/* =================== TERMINA INDEX ==================== */


/* =================== EMPIEZA QUÉ HACEMOS ==================== */

.frase1__texto{
    text-align: justify;
    font-size: 1rem;
    margin: 2rem 1.2rem;
    line-height: 1.8rem;
    max-width: 100vw;
}

/* =================== TERMINA QUÉ HACEMOS ==================== */


/* =================== EMPIEZA SERVICIOS ==================== */

.frase1__titulo{
    font-size: 2rem;
    text-align: center;
    padding: 0.725rem;
    margin-top: 0.625rem;
    animation: opacidad 2s ease .3s;
}

/* =================== TERMINA SERVICIOS ==================== */

/* =================== EMPIEZA GALERÍA  ==================== */

.galery-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 1.25rem;
    grid-auto-flow: dense;
}

.galery-grid-item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #e2e2e2;
    transition: all 0.3s;

}
.galery-grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    border: 1px solid #b8b8b8;
}

.ancho{
    grid-column: span 2;
}

.alto{
    grid-row: span 2;
}

/* =================== TERMINA GALERÍA ==================== */

/* =================== INICIO INDEX @MEDIA-QUERIES ==================== */
@media (min-width: 768px) {
    .grid-container{
    grid-template-areas: 
    "nav nav"
    "noticias noticias"
    "img-1 img-2"
    "newsletter newsletter"
    "pie pie";
    }
 
    
    .botonera{
        flex-direction: row;
        justify-content: space-evenly;
    }

    ul li{
        padding: 1.2rem;
    }
    
    li:hover{
        transform: scale(1.11);
    }
/* ================ HASTA ACÁ ================= */
    .nav-link{
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }

    .nav-link:hover{
        transform: scale(1.04);
        color: #1a1a1a;
        font-weight: 700;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 100% 2px;

    }

    article{
        margin: auto;
    }

    .cartas-contenedor{
        display: flex;
        flex-flow: row wrap;
        
    }

     fieldset{
        flex-direction: row;
        justify-content: space-around;
    }

    .inputs{
        flex-direction: row;
        
    }

    label{
        margin-left: 0.125rem;
    }

    .a-rrss:hover{
        transform: scale(1.11);
    }

    /* QUIÉNES SOMOS-QUÉ HACEMOS */
    .frase1__texto{
        text-align: center;
        font-size: 1.3rem;
        max-width: 650px;
        margin: 2rem auto;
        line-height: 1.8rem;
    }

    .carousel-item{
        height: 65vh;
        background-size: cover;
        background: no-repeat center center scroll;
    }
    /* QUIÉNES SOMOS-QUÉ HACEMOS */
}

@media (min-width: 1024px) {
    .grid-container{
    grid-template-columns: 1fr 1fr 25%;
    grid-template-areas: 
    "nav nav nav"
    "noticias noticias img-1"
    "noticias noticias img-2"
    "newsletter newsletter newsletter"
    "pie pie pie";
    }

    figure{
        flex-direction: row;
        max-width: 750px;

    }

    figure img{
        width: 45%;
    }

    figure div {
        width: 55%;
    }

    .noticias__titulo{
        position: relative;
        left: 10.3125rem;
    }

}   



/* =================== TERMINA INDEX @MEDIA QUERIES==================== */

/* =================== ANIMACIONES ==================== */
@keyframes opacidad {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

