@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  box-shadow: 0 0 3px 3px #1a1a1a;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto, minmax(240px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "nav" "img-1" "noticias" "img-2" "newsletter" "pie";
  gap: 1.5rem;
  grid-auto-flow: dense;
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-areas: "nav nav" "noticias noticias" "img-1 img-2" "newsletter newsletter" "pie pie";
  }
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 25%;
    grid-template-areas: "nav nav nav" "noticias noticias img-1" "noticias noticias img-2" "newsletter newsletter newsletter" "pie pie pie";
  }
}

a img {
  max-height: 3.3rem;
  margin-top: 0.5rem;
}

.botonera {
  background-color: #F3f0f0;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1px;
  z-index: 10;
  box-shadow: 0 0 3px 3px #1a1a1a;
}
@media (min-width: 768px) {
  .botonera .botonera {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

li {
  display: inline-block;
  padding: 0.1875rem;
}
@media (min-width: 768px) {
  li {
    padding: 1.2rem;
  }
  li:hover {
    transform: scale(1.11);
  }
}
li a {
  text-decoration: none;
  list-style-type: none;
  color: #1a1a1a;
  font-weight: 700;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
li a:hover {
  background-size: 100% 2px;
}

.img-h {
  grid-area: img-1;
}

.img img {
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.noticias__contenedor {
  grid-area: noticias;
}

.noticias__caja {
  display: flex;
  flex-direction: column;
}

.noticias__titulo {
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  position: relative;
  max-width: 512px;
  margin: 0.625rem auto;
}
figure::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.carta-noticia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.img-2 {
  grid-area: img-2;
  background-color: blanchedalmond;
}

.form {
  grid-area: newsletter;
}

.field-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
}
@media (min-width: 768px) {
  .field-wrap {
    flex-direction: row;
    justify-content: space-around;
  }
}

legend {
  margin: 1em auto;
  text-align: center;
}
legend p {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
}

.footer {
  grid-area: pie;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.625rem;
}

.a-rrss {
  max-height: 50px;
  text-align: center;
}

@keyframes opacidad {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.frase1__titulo {
  font-size: 2rem;
  text-align: center;
  padding: 0.725rem;
  margin-top: 0.625rem;
  animation: opacidad 2s ease 0.3s;
}

.frase1__texto {
  text-align: center;
  font-size: 1.3em;
  max-width: 650px;
  margin: 2rem auto;
  line-height: 1.8rem;
}

.carousel-item {
  height: 65vh;
  background-size: cover;
  background: no-repeat center center scroll;
}

/*# sourceMappingURL=style.css.map */
