$mainColor: rgb(65, 65, 65);
$secondaryColor: rgb(102, 102, 102);
$thirdColor:  rgb(224, 224, 224);
$white: #F3f0f0;
$black: rgb(6, 6, 6);

//sizes

$textSm:.8em;
$textMd:1.3em;
$textLg:1.6em;
$textXl:3em;

//mixins

@mixin titulo ($size,$line-heigt,$color){
    font-size: $size;
    line-height: $line-heigt;
    color: $color
}

@mixin d-flex-row($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin cover-img{
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    };
}

//paleta

$fontWeight:(
    'thin': 100,
    'light': 300,
    'normal': 400,
    'medium': 500,
    'bold': 700,
    'heavy': 900
);