$mainColor: rgb(65, 65, 65);
$secondaryColor: rgb(102, 102, 102);
$thirdColor:  rgb(224, 224, 224);
$white: #F3f0f0;
$black: rgb(6, 6, 6);

//sizes

$textSm:.8em;
$textMd:1.3em;
$textLg:1.6em;
$textXl:3em;

//weight

$w-bold: 700;
$w-normal: 400;